extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/stylesheet.css")
block body
  nav
    a(href="/login")
    .navlink
      a(href="/logout") Log out
  section
    h1 #{adventure.title}
  section#Locations
    h1 Path points for this adventure
    if !path|| path.length == 0
        div.location
            h3.emptyLocations No Locations yet
    else
        each val in path
            div.location
                h3.longitude Longitude: #{val.longitude}
                h3.latitude Latitude: #{val.latitude}                
  section#Locations
    h1 Posts for this Adventure
    if !posts || posts.length == 0
        div.location
            h3.emptyLocations No Posts yet
    else
        each val in posts
            div.location
                h3.longitude Longitude: #{val.longitude}
                h3.latitude Latitude: #{val.latitude}
                h3.content Content: #{val.content}
block scripts
        script(src="/assets/locator.js")